.sliders.slick-slider.slick-initialized .slick-track.slick-center {
    display: flex;
    align-items: center;
}

.slider_portfolio .main-slider .slick-list .slick-track {
    display: flex !important;
    align-items: center !important;
  }
  
body {
    background: #141414;

}